@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --be-vietnam-pro: "Be Vietnam Pro", sans-serif;
  --text: fadeIn 0.1s linear, flyFromBottom 0.3s linear;
}

* {
  font-family: var(--be-vietnam-pro);
}

body {
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes flyFromBottom {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
